
@model ViewSearch
@{
    ViewData["Title"] = "Home";
	List<Post> Posts = ViewBag.Posts;


}

<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
</head>
<body>
<h1>@ViewData["Title"]</h1>
<div>
	<form asp-action="Search" method="get" class="form-search">
		<h3>Search</h3>
		<p>
			<span asp-validation-for="Query" class="form-error"></span>
			<label asp-for="Query"></label>
			<input asp-for="Query"/>

			<input type="submit" value="Search"/>
		</p>
	</form>
</div>
<p>
	<a asp-action="Create">&#171; New post</a><br/>
	<a asp-action="Create" asp-controller="Category">&#171; Categories</a>
</p>
<div>
	@foreach (Post post in Model)
	{
		<div>
			<fieldset>
			<legend><a asp-action="Post" asp-route-id="@post.ID"><b>@post.Title</b></a> - <a>@post.Category.Name</a> - <i>@post.CreatedAt.ToString("g")</i></legend>
				<pre>@(post.Content.Length > 100 ? post.Content.Substring(0, 100)+"..." : post.Content)</pre>
			</fieldset>
		</div>
	}
</div>
</body>
</html>