
@model ViewSearch
@{
    ViewData["Title"] = "Home";
	List<Post> Posts = ViewBag.Posts;


}

<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	<link asp-href-include="css/*.css" rel="stylesheet"/>
</head>
<body>
<h1>@ViewData["Title"]</h1>
<div>
	<form asp-action="Search" method="get" class="form-search">
		<h3>Search</h3>
		<p>
			<span asp-validation-for="Query" class="form-error"></span>
			<label asp-for="Query"></label>
			<input asp-for="Query"/>

			<input type="submit" value="Search"/>
		</p>
	</form>
</div>
<p>
	<a asp-action="Create">&#171; New post</a><br/>
	<a asp-action="Create" asp-controller="Category">&#171; New category</a>
</p>
<div>
	<ul>
		@foreach (Post post in Posts)
		{
			<li>
				<a asp-action="Post" asp-route-id="@post.ID" class="post-title"><b>@post.Title</b></a> - <span class="post-category">@post.Category.Name</span> - <i class="post-timestamp">@post.CreatedAt.ToString("g")</i>
			</li>
		}
	</ul>
</div>
</body>
</html>