
@model Post

@{
	ViewData["Title"] = "Post";
	Layout = "~/Views/_LayoutMain.cshtml";
}

<div>
	<fieldset class="post-fieldset">
		<legend><b class="post-title">@Model.Title</b>
			- <a asp-action="Search" asp-route-Query="@Model.Category.Name" class="post-category">@Model.Category.Name</a>
			- <i class="post-timestamp">posted on @Model.CreatedAt.ToString("d") at @Model.CreatedAt.ToString("t")</i></legend>
		<pre class="post-content">@Model.Content</pre>
	</fieldset>
</div>